#toTop
{
	background-repeat:no-repeat;
	z-index:989;
	text-align:center;
	padding:10px;
	position:fixed;
	right:0.8rem;
	bottom:0.8rem;
	cursor:pointer;
	display:none;
	font-size:.7em;
	background-image:url(../images/totop/to_top_32x32_red.gif);
	background-position:center;
	background-size:95% 95%;
	background-color:#ff0;
	width:1.5rem;
	height:1.5rem;
}

#toTop.visible
{
	display: block;
}
